body{
    font-family: Arial, sans-serif;
    margin: 0;
}


.navBar{
    cursor: pointer;
    text-decoration: None;
    color: white;
}


.navBarUl{
    font-size: large;
    background-color: #488ac7;
    padding: 50px;
}


.liRight{
    padding-left: 20px;
    list-style-type: None;
    float: right;
    
}

.liLeft{
    padding-left: 50px;
    list-style-type: None;
    display: inline-block;
}


.navBar:hover{
    color: black;
}



