body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navBar{
    cursor: pointer;
    text-decoration: None;
    color: rgb(255,255,255,0.7)
}


.navBarUl{
    font-weight: 700;
    font-size: large;
    background-color: #488ac7;
    padding: 50px;
    margin: 0;
}


.liRight{
    padding-left: 20px;
    list-style-type: None;
    float: right;
    
}

.liLeft{
    padding-left: 50px;
    list-style-type: None;
    display: inline-block;
}


.navBar:hover{
    color: rgb(255,255,255,1)
}

