body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(240,126,19,0.075)
}

.navBar{
    padding: 35px 15px;
    cursor: pointer;
    text-decoration: None;
    color: rgb(255,255,255,0.7);
    transition: color 0.3s;
}


.navBarUl{
    font-weight: 700;
    font-size: large;
    background-color: #488ac7;
    margin: 0;
}


.liRight{
    cursor: pointer;
    padding: 35px 15px;
    list-style-type: None;
    float: right;
    transition: background-color 0.3s;
}

.liLeft{
    cursor: pointer;
    padding: 35px 15px;
    list-style-type: None;
    display: inline-block;
    transition: background-color 0.3s;
}


.liLeft:hover, .liRight:hover {
    background-color: #93c121;
}


.navBar:hover{
   color: rgb(255,255,255,1) 
}










.demande-form {
    max-width: 600px;
    margin: 2% auto;
    background-color: #fff;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.form-group {
    margin-bottom: 82;
}

label {
    display: block;
    margin-bottom: 5%;
}



select,
input,
textarea {
    width: 100%;
    padding: 2%;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input, button {
    background-color: #488AC7;
    color: #ffffff;
    padding: 2% 4%;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input:hover, button:hover {
    background-color: #dd6130;
}

.txt{
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;
    margin-top: 21.44px;
    margin-left: 20%;   
    margin-right: 20%;
    background-color: #fff;
}

h1{
    color: #488AC7;
    font-weight: 300;
    margin: 0px 0px 20px;
}

h5{
    margin-bottom: 0px;
    line-height: 25px;
    font-weight: 300;
    font-size: 20px;
}

.erreur_aide_mentor{
    color: brown;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}
.flash-messages{
    color: green;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
    font-size: 150%;
}