body {
    font-family: Arial;
    color: rgba(0, 0, 0, 0.800);
}


input[type=text],input[type="email"],input[type="password"]{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 0 30px 0;
    border: none;
    border-radius: 25px;
    background: rgba(133, 133, 133, 0.365);
}

input[type=submit]{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    margin: 50px 0 0 0;
    border: none;
    border-radius: 25px;
    background: rgba(6, 46, 221, 0.365);
}

input[type=submit]:hover {
    background: rgba(6, 45, 221, 0.199);
}


.register_login{
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(185, 184, 184, 0.300);
    border-radius: 25px;
}

h1{
    text-align: center;
    padding-top: 25px;
}

h2{
    text-align: center;
    padding-bottom: 25px;
}

.label_form{
    margin-left: 13px;
}

.liens{
    text-align: center;
}

.erreur_register{
    color: brown;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}
.erreur_login{
    color: brown;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}



