body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.navBar{
    cursor: pointer;
    text-decoration: None;
    color: rgb(255,255,255,0.7)
}


.navBarUl{
    font-weight: 700;
    font-size: large;
    background-color: #488ac7;
    padding: 50px;
    margin: 0;
}


.liRight{
    padding-left: 20px;
    list-style-type: None;
    float: right;
    
}

.liLeft{
    padding-left: 50px;
    list-style-type: None;
    display: inline-block;
}


.navBar:hover{
    color: rgb(255,255,255,1)
}





input[type=text],input[type="email"],input[type="password"]{
    width: 100%;
    padding: 15px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 0 30px 0;
    border: none;
    border-radius: 25px;
    background: rgba(133, 133, 133, 0.365);
}


input[type=submit]{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    margin: 50px 0 0 0;
    border: none;
    border-radius: 25px;
    background: rgba(72, 138, 199, 0.75);
}


input[type=submit]:hover {
    background: rgba(72, 138, 199, 1);
}


.register_login{
    padding-bottom: 5px;  
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(185, 184, 184, 0.300);
}


h1{
    text-align: center;
    padding-top: 25px;
}


h2{
    text-align: center;
    padding-bottom: 25px;
}


.label_form{
    margin-left: 13px;
}


.liens{
    text-align: center;
}


.erreur_register_login{
    color: brown;
    list-style-type: none;
    padding-top: 15px;
    text-align: center;
}








