body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navBar{
    cursor: pointer;
    text-decoration: None;
    color: rgb(255,255,255,0.7)
}


.navBarUl{
    font-weight: 700;
    font-size: x-large;
    background-color: #488ac7;
    padding: 50px;
    margin: 0;
}


.liRight{
    padding-left: 20px;
    list-style-type: None;
    float: right;
    
}

.liLeft{
    padding-left: 50px;
    list-style-type: None;
    display: inline-block;
}


.navBar:hover{
    color: rgb(255,255,255,1)
}

.txt{
    
    padding: 20px;
    margin-top: 21.44px;
    margin-left: 20%;   
    margin-right: 20%;
    background-color: rgba(185, 184, 184, 0.300);
}

h1{
    font-weight: 300;
    margin: 0px 0px 20px;
}

h5{
    margin-bottom: 0px;
    line-height: 25px;
    font-weight: 300;
    font-size: 20px;
}



