<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Accueil Mentorat</title>
</head>
    <body>
        <header>
            <ul class = "navBarUl">
                <li class = "liLeft"><a class = "navBar" href="/">Accueil</a></li>
                <li class = "liLeft"><a class = "navBar" href="/information">Informations</a></li>
                <li class = "liLeft"><a class = "navBar" href="/demandeAide">Demande d'aide</a></li>
                <li class = "liLeft"><a class = "navBar" href="/devenirMentor">Devenir Mentor</a></li>
                <li class = "liLeft"><a class = "navBar" href="/contact">Contact</a></li>

                <li class = "liRight"><a class = "navBar" href="login">Se  connecter</a></li>
                <li class = "liRight"><a class = "navBar" href="register">Créer un compte</a></li>
            </ul>
        </header>
        
        <div class = "txt">
            <h1>Bienvenue sur le Portail du Mentorat du Lycée Saint-André</h1> 
            <h5>
                Bienvenue sur notre plateforme dédiée au mentorat, un espace conçu pour favoriser l'entraide, l'apprentissage et le partage de connaissances au sein de la communauté du Lycée Saint-André. Que vous soyez élève en quête de soutien, mentor désireux d'aider, ou simple visiteur curieux, vous êtes au bon endroit.
                <br>
                <br>
                À propos du Mentorat Saint-André
                Notre mission est de créer une communauté d'apprentissage solidaire, où les élèves peuvent bénéficier de l'expérience et de la guidance de leurs pairs plus avancés. Nous croyons en la force de l'éducation collaborative et en l'impact positif que le mentorat peut avoir sur la réussite académique et personnelle.
                <br>
                <br>
                Explorer nos Sections :
                <ul>
                    <li>Accueil: Découvrez les dernières nouvelles, événements et mises à jour du mentorat au Lycée Saint-André.</li>
                    <br>
                    <li>Informations: Obtenez des détails sur notre projet, ses objectifs et son histoire.</li>
                    <br>
                    <li>Demande d'aide: Si vous avez besoin d'un coup de pouce académique, c'est l'endroit où vous pouvez demander l'aide d'un mentor.</li>
                    <br>
                    <li>Devenir Mentor: Si vous êtes passionné par le partage de vos connaissances et souhaitez aider vos camarades, découvrez comment devenir mentor.</li>
                    <br>
                    <li>Contact: Pour toute question, suggestion ou préoccupation, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.</li>
                </ul>
                Engagez-vous, Apprenez, Grandissez
                Nous invitons tous les élèves à participer activement, à poser des questions, à offrir leur aide et à créer une atmosphère de collaboration positive. Ensemble, nous pouvons créer une communauté éducative où chaque élève a l'opportunité de s'épanouir.
                <br>
                <br>
                Merci de faire partie de cette initiative enrichissante. Bonne exploration !
                <br>
                <br>
                L'équipe du Mentorat du Lycée Saint-André
            </h5>
        </div>
    </body>
</html>


        
       