<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Accueil Mentorat</title>
</head>
    <body>
        <header>
            <ul class = "navBarUl">
                <li class = "liLeft"><a class = "navBar" href="/">Acceuil</a></li>
                <li class = "liLeft"><a class = "navBar" href="/information">Informations</a></li>
                <li class = "liLeft"><a class = "navBar" href="/demandeAide">Demande d'aide</a></li>
                <li class = "liLeft"><a class = "navBar" href="/devenirMentor">Devenir Mentor</a></li>
                <li class = "liLeft"><a class = "navBar" href="/contact">Contact</a></li>

                <li class = "liRight"><a class = "navBar" href="login">Se  connecter</a></li>
                <li class = "liRight"><a class = "navBar" href="register">Créer un compte</a></li>
            </ul>
        </header>
        <table>
            <tr>
                <td>Carmen</td>
                <td>33 ans</td>
                <td>Espagne</td>
            </tr>
            <tr>
                <td>Michelle</td>
                <td>26 ans</td>
                <td>États-Unis</td>
            </tr>
        </table>
    </body>
</html>