<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Accueil Mentorat</title>
</head>

<body>
    <header>
        <ul class = "navBarUl">
            <li class = "liLeft"><a class = "navBar" href="/">Acceuil</a></li>
            <li class = "liLeft"><a class = "navBar" href="/information">Informations</a></li>
            <li class = "liLeft"><a class = "navBar" href="/demandeAide">Demande d'aide</a></li>
            <li class = "liLeft"><a class = "navBar" href="/devenirMentor">Devenir Mentor</a></li>
            <li class = "liLeft"><a class = "navBar" href="/contact">Contact</a></li>

            <li class = "liRight"><a class = "navBar" href="login">Se  connecter</a></li>
            <li class = "liRight"><a class = "navBar" href="register">Créer un compte</a></li>
        </ul>
    </header>

	<iframe width="1000" height="800" src="https://www.youtube.com/embed/tX0oyVX8KWE?si=Wy_hV7Uqg7K77FCL&amp;controls=0&amp;start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>

</html>