<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Tutorat St André</title>
    <link href="../static/css/eleve_accueil.css" rel="stylesheet">
</head>
<body>
    <div class="box">
        <ul>
            <li><a href="/eleve/devenirMentor" class="bandeau_gauche">Devenir Mentor</a></li>
            <li><a href="/eleve/infos" class="bandeau_gauche">Informations</a></li>
            <li><a href="/eleve/aide" class="bandeau_gauche">Demande d'aide</a></li>
        </ul>
    </div>
    <h1>Bienvenue {{nom_utilisateur}} {{prenom_utilisateur}} sur le site du Tutorat St André</h1>
</body>
</html>
