<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Tutorat St André</title>
    <link href="static/css/eleve_acceuil.css" rel="stylesheet">
</head>
<body>
    <div class="box">
        <a href="/eleve_infos" class="informations">Informations</a>
        <a href="/eleve_aide" class="demande-aide">Demande aide</a>
        <a href="/eleve_devenirMentor" class="devenir-mentor">Devenir Mentor</a>
    </div>
    <h1>Bienvenue {{nom}} {{prenom}} sur le site du Tutorat St André</h1>
</body>
</html>