<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Demande D'aide - Mentorat St André</title>
    <link href="../static/css/eleve.css" rel="stylesheet">
</head>
<body>
    <header>
        <ul class = "navBarUl">
            <li class = "liLeft"><a class = "navBar" href="/eleve/accueil">Accueil</a></li>
            <li class = "liLeft"><a class = "navBar" href="/eleve/infos">Informations</a></li>
            <li class = "liLeft"><a class = "navBar" href="/eleve/aide">Demande d'aide</a></li>
            <li class = "liLeft"><a class = "navBar" href="/eleve/devenirMentor">Devenir Mentor</a></li>
            <li class = "liLeft"><a class = "navBar" href="/eleve/contact">Contact</a></li>

            <li class = "liRight"><a class = "navBar" href="/">Se déconnecter</a></li>
        </ul>
    </header>
    <form class="demande-form" action="/eleve/aide2" method="POST">

        <div class="form-group">
            <label for="matiere">Matière :</label>
            <select id="matiere" name="matiere">
                <option value="Maths">Maths</option>
                <option value="Français">Français</option>
                <option value="Histoire-Geographie-EMC">Histoire-Geographie-EMC</option>
                <option value="Anglais">Anglais</option>
                <option value="Espagnol">Espagnol</option>
                <option value="Allemand">Allemand</option>
                <option value="Philosophie">Philosophie</option>
                <option value="Physique-Chimie">Physique-Chimie</option>
                <option value="SVT">SVT</option>
                <option value="None">None</option>
                <option value="None">None</option>

            </select>
        </div>
        <div class="form-group">
            <label for="contact">Contact :</label>
            <textarea id="contact" name="contact" placeholder="Entrez ici la maniere par laquelle voulez vous etre contacter par un Mentor (adresse mail de base )" rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="specialite">Informations Suplémentaires :</label>
            <textarea id="specialite" name="specialite" placeholder="Entrez le chapitre qui pose problème, un exercice spécifique où vous rencontrez des difficultés, ou une notion particulière que vous souhaitez aborder...."rows="6"></textarea>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="erreur_aide_mentor">
                    {% for message in messages %}
                        <div class="erreur_aide_mentor">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <input type="submit" value="Envoyer" ></input>

        <a href="/eleve/accueil"><button type="button">Revenir à l'accueil</button></a>
    </form>
</body>
</html>
