<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Accueil Mentorat</title>
</head>
    <body>
        <header>
            <ul class = "navBarUl">
                <li class = "liLeft"><a class = "navBar" href="/">Acceuil</a></li>
                <li class = "liLeft"><a class = "navBar" href="/information">Informations</a></li>
                <li class = "liLeft"><a class = "navBar" href="/demandeAide">Demande d'aide</a></li>
                <li class = "liLeft"><a class = "navBar" href="/devenirMentor">Devenir Mentor</a></li>
                <li class = "liLeft"><a class = "navBar" href="/contact">Contact</a></li>

                <li class = "liRight"><a class = "navBar" href="login">Se  connecter</a></li>
                <li class = "liRight"><a class = "navBar" href="register">Créer un compte</a></li>
            </ul>
        </header>
        <div class = "txt">
            <h1>Bienvenue dans la Section "Informations"</h1> 
            <h5>
                <p>Bienvenue sur la page qui vous offre un aperçu détaillé du projet de mentorat au Lycée Saint-André. Cette section est votre point d'accès privilégié pour comprendre notre mission, nos objectifs et les valeurs qui guident notre communauté éducative.</p>
                
                <p>À Propos du Projet de Mentorat: </p>
                <p>Le Mentorat du Lycée Saint-André a été créé dans le but de favoriser un environnement d'apprentissage collaboratif au sein de notre communauté scolaire. Nous croyons que chaque élève a le potentiel de réussir, et ce potentiel peut être libéré grâce à l'entraide et au mentorat.</p>
                <br>

                <p>Nos Objectifs:
                    <ul>
                        <li><P>Faciliter l'Échange de Connaissances: Encourager les élèves à partager leurs compétences et connaissances pour renforcer la compréhension collective.</p></li>
                        <li><p>Soutenir la Réussite Académique: Fournir un soutien aux élèves qui cherchent de l'aide dans leurs études, en mettant en relation les mentors expérimentés et les élèves en quête d'apprentissage.</p></li>
                        <li><p>Promouvoir l'Engagement Communautaire: Créer une communauté éducative dynamique où les élèves s'impliquent activement dans le mentorat et contribuent à une culture de l'apprentissage mutuel.</p></li>
                    </ul>   
                    <br>

                <p>Comment Utiliser cette Section:</p>
                    <ul>
                        <li><p>Historique du Projet: Découvrez l'évolution du Mentorat du Lycée Saint-André et les moments clés de son parcours.</p></li>
                        <li><p>Objectifs et Valeurs: Explorez nos objectifs à long terme et les valeurs qui sous-tendent notre engagement envers l'éducation collaborative.</p></li>
                        <li><p>Équipe du Mentorat: Rencontrez les personnes derrière le projet, des fondateurs aux mentors dévoués.</p></li>
                        <li><p>Témoignages: Lisez les expériences partagées par ceux qui ont bénéficié du mentorat et ceux qui ont contribué en tant que mentors.</p></li>
                    </ul>      
                    <br>

                <p>Impliquez-vous dans notre Communauté Éducative: </p>
                <p>Nous vous invitons à explorer cette section, à poser des questions et à vous impliquer dans notre communauté éducative. Le mentorat n'est pas seulement un acte de donner, mais aussi de recevoir. Ensemble, nous pouvons créer un environnement d'apprentissage inclusif et encourageant.</p>
                
                <p>Merci de faire partie de cette initiative qui vise à créer des opportunités d'apprentissage significatives au Lycée Saint-André.</p>
                
                <p>L'équipe du Mentorat du Lycée Saint-André</p>
            </h5>
        </div>
    </body>
</html>