<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="static/css/register_login.css" rel="stylesheet">
</head>
    <body>
        <header>
            <ul class = "navBarUl">
                <li class = "liLeft"><a class = "navBar" href="/">Acceuil</a></li>
                <li class = "liLeft"><a class = "navBar" href="/information">Informations</a></li>
                <li class = "liLeft"><a class = "navBar" href="/demandeAide">Demande d'aide</a></li>
                <li class = "liLeft"><a class = "navBar" href="/devenirMentor">Devenir Mentor</a></li>
                <li class = "liLeft"><a class = "navBar" href="/contact">Contact</a></li>

                <li class = "liRight"><a class = "navBar" href="login">Se  connecter</a></li>
                <li class = "liRight"><a class = "navBar" href="register">Créer un compte</a></li>
            </ul>
        </header>
        
        <form class="register_login" action="/login2" method="POST">
            <h1>Ce connecter a votre compte Mentorat :</h1>
            <h2>Veuillez remplir ce formulaire pour accéder a votre compte.</h2>
        
            <label class="label_form"><b>Email</b></label>
            <input type="email" placeholder="Email" name="email" id="input" required>

            <label class="label_form"><b>Mot De Passe</b></label>
            <input type="password" placeholder="MDP" name="password" id="input" required>

        
            {% with messages = get_flashed_messages() %}
                    <ul>
                    {% for message in messages %}
                    <li class="erreur_register_login">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endwith %}

            <input type="submit" value="Se connecter" />

            <p class="liens" >Vous n'avez pas de compte ? <a href="register">Créer en un</a>.</p>
        </form>
    </body>
</html>